<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Escaneador QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center height">
      <ion-col>
        <!-- Fallback for iOS PWA -->
        <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">

        <!-- Trigger the file input -->
        <ion-button color="tertiary" expand="full" (click)="captureImage()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Capturar imagen
        </ion-button>

        <ion-button color="success" expand="full" (click)="startScan()">
          <ion-icon slot="start" name="qr-code"></ion-icon>
          Comenzar el escaneo
        </ion-button>

        <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
          <ion-icon slot="start" name="refresh"></ion-icon>
          Resetear
        </ion-button>

        <!-- Shows our camera stream -->
        <video #video [hidden]="!scanActive" width="100%"></video>

        <!-- Used to render the camera stream images -->
        <canvas #canvas hidden></canvas>

        <!-- Stop our scanner preview if active -->
        <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
          <ion-icon slot="start" name="close"></ion-icon>
          Parar el escaneo
        </ion-button>

        <ion-card *ngIf="scanResult">
          <ion-card-header>
            <ion-card-title>Código QR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <a [href]="scanResult" target="_system">{{ scanResult }}</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>